
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container{
    max-width: 300px;
    margin: 10vh auto 0 auto;
 
    box-shadow: 0px  3px 15px rgba(113, 119, 115, 1);
    font-family: 'Poppins', sans-serif;
    border: 1px solid;
    padding: 40px;
    border-radius: 12px;
    background: transparent;
    background-color: rgb(54, 54, 56);

}
body{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(50, 50, 52, 0.83);
}
input{
    border:none;
    height: 0px;
    padding: 25px;
    width: 230px;
    margin:5px ;
    background: transparent;
    box-shadow: 0px 13px 15px rgbs(113,119,115,0.5);
    font-style: normal;
    font-size: 30px;
    text-align: right;
    cursor: pointer;
    color: #fff;
}

input::placeholder{

    color: #fff;
    
}
button{
    border: none;
    width:60px;
    height:60px;
    margin: 5px;
    border-radius: 10%;
    background: transparent;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    box-shadow: -8px -8px 13px rgba(255,255,255, 0.1);
}
.equal{
    background-color: rgb(237, 154, 19);
}
.operation{
    color: rgb(108, 196, 61);
}